<header>
    <nav class="navbar">  
      <ul class="navbar-list">  
        <li><a href="./index.html" style="display:inline-block;">Memory Game</a></li>
        <li><a href="./views/login.html" id="loginLink" style="display:inline-block;">Login</a></li>
        <li><a href="./views/register.html" id="registerLink" style="display:inline-block;">Register</a></li>
        <li><a href="#" id="logoutLink" style="display:none;">Logout</a></li>
        <li><a href="./views/account.html" id="accountLink" style="display:none;">Account</a></li>
      </ul>
    </nav>
  </header>